<aside>
	<div class="panel radius">
		<h3>Digital Egyptian Gazette</h3>
		<p>
			This blog is the product of students in IFS 2116, an undergraduate course at Florida State University.
		</p>
	</div>

	<div class="border-dotted radius b30">
		<img src="https://github.com/dig-eg-gaz/dig-eg-gaz.github.io/raw/master/images/front-page.jpg" alt="uh, Placekitten">
		<p class="text-left">
			Blog entries are the work of the authors. <a href="https://github.com/dig-eg-gaz/dig-eg-gaz.github.io/raw/master/images/front-page.jpg">Front page sample.</a>
		</p>
	</div>
</aside>
